body {
    background: rgb(206, 3, 3);
    background: linear-gradient(112deg, rgb(21, 4, 173) 30%,
    rgb(172, 14, 22) 80%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.container {
    width: 80%;
    height: 70%;
    position: relative;
    box-shadow: 0 0 1 rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background: inherit;
    z-index: 1;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
    filter: blur(10px);
    margin: -20px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: bold;

    ul {
        list-style: none;
        display: flex;
        color: #fff;
        padding: 0;
        cursor: pointer;
    

        li {
            margin: 0 15px;
            display: flex;
            align-items: center;
    
            &.active {
                background: #ca0919;
                padding: 3px 15px;
                border-radius: 10px;
            }
        }
    }   
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        width: 40%;
        top: -15%;
        left: 45%;
        transform: translate(-20%, -10%) rotate(-5deg);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: fit-content;
        height: 100%;
        justify-content: center;

        svg {
            margin: 15px 30px;
            cursor: pointer;
        }
    }

    &-text {
        color: #fff;
        width: 100%;
        padding: 0 50px;
    }

    h1, h3 {
        margin: 0;
    }

    h1 {
        font-size: 56px;
    }

    h3 {
        font-size: 30px;
    }

    .content-text {
        &.right {
            text-align: right;
            margin-top: 150px;
        }

        &.left {
            margin-top: -250px;
        }
    }
}